body, html {
    margin: 0;
    padding: 0;
}

body, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90%;
    line-height: 160%;
}

#header, #content, #footer {
    margin-left: 15%;
    width: 60%;
    max-width: 600px;
    float: left;
}

#menu {
    float: right;
    margin: 1.5em .5em 0 0;
}

.post {
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    box-shadow: 2px 2px 6px #888;
    -webkit-box-shadow: 2px 2px 6px #888;
    -moz-box-shadow: 2px 2px 6px #888;
    margin-bottom: 1.5em;
    padding: .1em 1em 1em 1em;
    background-color: #eee;
    overflow: auto;
}

#preview {
    border: 1px dotted grey;
}

#dummy {
    background-color: #fff;
    display: none;
}

#footer {
    margin: 1em 0 0 15%;
    padding-bottom: 1em;
    border-top: 1px dotted grey;
    text-align: center;
}

#form a {
    float: right;
}

textarea {
    width: 99%;
    height: 15em;
}

blockquote {
    font-style: italic;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
}

a:active {
    color: darkorange;
}
