body, html {
    margin: 0;
    padding: 0;
}

body, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90%;
    line-height: 160%;
}

#header, #content, #footer {
    margin-left: 15%;
    width: 60%;
    max-width: 600px;
    float: left;
}

#header h1 {
    font-family: 'Trebuchet MS', 'Times New Roman', serif;
}

h1, h2, h3 {
    letter-spacing: 1px;
}

#menu {
    float: right;
    margin: 1.5em .5em 0 0;
}

#menu a, #more, .comments, .edit {
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    padding: .3em;
}

#menu a:hover, #more:hover, .comments:hover, .edit:hover {
    background-color: blue;
    color: #fff;
}

#menu a:active, #more:active, .comments:active, .edit:active {
    background-color: dodgerblue;
    color: darkorange;
}

.post {
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    box-shadow: 2px 2px 6px #888;
    -webkit-box-shadow: 2px 2px 6px #888;
    -moz-box-shadow: 2px 2px 6px #888;
    margin-bottom: 1.5em;
    padding: .1em 1em 1em 1em;
    background-color: #eee;
    overflow: auto;
}

.caption {
    float: right;
}

#preview {
    border: 1px dotted grey;
}

#dummy {
    background-color: #fff;
    display: none;
}

#pagination a {
    display: block;
    width: 98.5%;
    text-align: center;
    border: 1px solid dodgerblue;
}

#footer {
    margin: 1em 0 0 15%;
    padding-bottom: 1em;
    border-top: 1px dotted grey;
    text-align: center;
}

#form a {
    float: right;
}

textarea {
    width: 99%;
    height: 15em;
}

blockquote {
    font-style: italic;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
}

a:active {
    color: darkorange;
}

#header h1 a:hover {
    color: blue;
}

#header h1 a:active {
    color: blue;
}
