body, html {
    margin: 0;
    padding: 0;
}

body, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90%;
    line-height: 160%;
}

#header, #content, #footer {
    margin: 0 auto;
    width: 600px;
}

#menu {
    float: right;
    padding: .3em;
}

.post {
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    margin-bottom: 1.5em;
    padding: .1em 1em 1em 1em;
    background-color: #eee;
}

#preview {
    border: 1px dotted grey;
}

#dummy {
    background-color: #fff;
    display: none;
}

#footer {
    margin: 1em auto;
    border-top: 1px dotted grey;
    text-align: center;
}

textarea {
    width: 90%;
    height: 15em;
}

blockquote {
    font-style: italic;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
}

a:active {
    color: darkorange;
}
