<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<title>Ringolog</title>
<link rel="alternate" type="application/atom+xml" title="Posts Feed (Atom)" href="/feed/atom.xml"/>
<link rel="alternate" type="application/rss+xml" title="Posts Feed (RSS)" href="/feed/rss.xml"/>
<link rel="stylesheet" href="/static/style.css"/>
<link rel="stylesheet" href="/static/sh_hns.min.css"/>
<script type="text/javascript" src="/static/sh_main.min.js"></script>
<script type="text/javascript" src="/static/sh_javascript.min.js"></script>
<% render head %>
</head>
<body onload="sh_highlightDocument();">
<% render header %>
  <div id="content">
    <h1><a href="/">Ringolog</a></h1>
    <% render content %>
  </div>
<% render footer %>
</body>
</html>

<% subskin content %>
Overwrite this subskin to add content.
