<% extends ./base.html %>

<% subskin head %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#submit').click(function () {
            $.post('/', {body: $('#data').val(), save: true}, function (data) {
                $('#posts').html(data);
                $('#data').val('');
            });
            return false;
        });
    });
</script>

<% subskin content %>
<div id="form">
  <p><textarea id="data" rows="8" cols="40"></textarea></p>
  <p><button type="submit" id="submit">Create &rarr;</button></p>
</div>

<div id="posts">
  <% for post in <% allPosts %> render listItem %>
</div>

<% subskin listItem %>
<% post.body | markdown %>
