<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<title>Ringolog</title>
<link rel="alternate" type="application/atom+xml" title="Posts Feed (Atom)" href="/feed"/>
<link rel="alternate" type="application/rss+xml" title="Posts Feed (RSS)" href="/feed/rss"/>
<link rel="stylesheet" href="/static/style.css"/>
<link rel="stylesheet" href="/static/sh_hns.min.css"/>
<script type="text/javascript" src="/static/sh_main.min.js"></script>
<script type="text/javascript" src="/static/sh_javascript.min.js"></script>
<% render head %>
</head>
<body onload="sh_highlightDocument();">
<% render header %>
  <div id="content">
    <% render content %>
  </div>
<% render footer %>
</body>
</html>

<% subskin content %>
Overwrite this subskin to add content.

<% subskin header %>
<div id="header">
  <h1><a href="/">Ringolog</a></h1>
</div>

<% subskin footer %>
<div id="footer">
  <small>
    <strong>Powered by <a href="http://ringojs.org/">RingoJS</a></strong>
  </small>
</div>
