<% extends ./base.html %>

<% subskin head %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8">
//<![CDATA[
    $(document).ready(function () {
        $('#submit').click(function () {
            if ($('#data').val() === '') {
                alert('Please provide some content.');
                return false;
            }
            $.post('/create', {body: $('#data').val()}, function (data) {
                $('#posts .post').first().before(data);
                $('#posts .post').first().effect('highlight', {}, 1500);
                $('#data').val('');
            });
            return false;
        });
        $('#more').click(function () {
            $.get('/more', function (data) {
                $('#dummy').before(data);
            });
            return false;
        });
    });
//]]>
</script>

<% subskin content %>
<% render ./menu.html %>
<% if <% authorized %> render ./form.html %>

<div id="posts">
  <% for post in <% posts %> render ./post.html %>
  <div id="dummy" class="post"></div>
</div>

<% if <% posts.length %> render moreLink %>

<% subskin moreLink %>
<a href="#" id="more">More &darr;<a/>
