<% extends ./base.html %>

<% subskin head %>
<script type="text/javascript">
//<![CDATA[
    $(document).ready(function () {
        $('#submit').click(function () {
            if ($('#data').val() === '') {
                alert('Please provide some content.');
                return false;
            }
            $.post('/create', {body: $('#data').val()}, function (data) {
                $('#posts .post').first().before(data);
                sh_highlightDocument();
                $('.wmd-preview').empty();
                $('#posts .post').first().effect('highlight', {}, 1500);
                $('#data').val('');
            });
            return false;
        });
        $('#more').click(function () {
            $.get('/more', function (data) {
                if (!data) {
                    alert('Nothing to see here, move along.');
                }
                $('#dummy').before(data);
                sh_highlightDocument();
            });
            return false;
        });
    });
//]]>
</script>

<% subskin content %>
<% if <% authorized %> render ./form.html %>

<div id="posts">
  <% if not <% posts.length %> render moveAlong %>
  <% for post in <% posts %> render ./post.html %>
  <div id="dummy" class="post"></div>
</div>

<% if <% posts.length %> render moreLink %>

<% subskin moveAlong %>
<strong>Nothing to see here, move along.</strong>

<% subskin moreLink %>
<div id="pagination">
  <a href="#more" id="more">More &darr;</a>
</div>
