<% extends ./base.html %>

<% subskin head %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8">
//<![CDATA[
    var disqus_developer = 1;
    var disqus_identifier =  <% post._id %> + Date.now() + Math.random();

    $(document).ready(function () {
        $('#submit').click(function () {
            if ($('#data').val() === '') {
                alert('Please provide some content.');
                return false;
            }
            $.post('/update', {id: <% post._id %>, body: $('#data').val()},
                    function (data) {
                        $('#main').html(data);
                        $('.post').effect('highlight', {}, 1500);
                    }
            );
            return false;
        });
    });
//]]>
</script>

<% subskin content %>
<% if <% authorized %> render ./menu.html %>
<% if <% authorized %> render ./form.html %>
<div id="main">
  <% render ./post.html %>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript" charset="utf-8">
//<![CDATA[
    (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://ringolog.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] ||
                document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
//]]>
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=ringolog">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com/" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
